*{
    padding:0;
    margin: 2em;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#title {
    font-size: 30px;
    font-family: monospace;
    font-style: oblique;
}

div {
    text-align: center;
    display: block;
}

#submit {
    display: block;
    margin: auto;
}